/*
COLORS:
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', serif;
  color: #fff;
  line-height: 1.7;
  padding: 20px; }

.header {
  position: relative;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
  overflow: hidden; }
  .header__logo {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo img {
    height: 35px; }
  .header__logo:hover img {
    animation: fadeInRight 1.5s ease-out; }
  .header__textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: fadeInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: fadeInRight 1s linear; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  80% {
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  80% {
    transform: translateY(-10%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*
.header__textbox--button::after,
.header__textbox--button::before
*/
.btn-white {
  background-color: #fff;
  color: gray; }

/* .btn-white::after {
    background-color: white;
} */
.header__textbox--button {
  /* z-index: 1; */ }
  .header__textbox--button:link, .header__textbox--button:visited {
    content: '';
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-block;
    animation: fadeInBottom 1s ease-out; }
  .header__textbox--button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .header__textbox--button:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
  .header__textbox--button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s ease-out; }
  .header__textbox--button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

@keyframes explode {
  0% {
    transform: scale(0.5);
    opacity: .7; }
  50% {
    transform: scale(1);
    opacity: .4; }
  100% {
    transform: scale(1.5);
    opacity: .1; } }

/* content: '';
    position: absolute;
    border:1px solid blue;
} */
