/*
COLORS:
*/

$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', serif;
    color:$color-white;
    line-height: 1.7;
    padding: 20px;
}

.header{
    position: relative;
    background-image: linear-gradient(to right, rgba($color-light-green,.8),rgba($color-dark-green,.8)),url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    height: 95vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
    overflow: hidden;

    &__logo{
        position: absolute;
        top:40px;
        left:40px;
    }

    &__logo img{
        height: 35px;
    }

    &__logo:hover img{
        animation: fadeInRight 1.5s ease-out;
    }

    &__textbox{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

.heading-primary{
    text-transform: uppercase;
    color: $color-white;

    &--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        animation: fadeInLeft 1s ease-out ;
    }
    &--sub{
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 15px;
        animation: fadeInRight 1s linear;
    }
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    80% {
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
.header__textbox--button::after,
.header__textbox--button::before
*/
.btn-white {
    background-color: $color-white;
    color: gray;
}

/* .btn-white::after {
    background-color: white;
} */
.header__textbox--button{
    &:link,
    &:visited{
        content: '';
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        padding: 15px 40px;
        border-radius: 100px;
        text-transform: uppercase;
        display: inline-block;
        animation: fadeInBottom 1s ease-out;
    }
    /* z-index: 1; */
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.3);
    }
    &:active{
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.3);

    }

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-white;
        border-radius:100px;
        z-index: -1;
        transition: all .5s ease-out;
    }

    &:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}


@keyframes explode {
    0% {
        transform: scale(.5);
        opacity: .7;
    }
    50%{
        transform: scale(1);
        opacity: .4;
    }

    100%{
        transform: scale(1.5);
        opacity: .1;
    }
}


    /* content: '';
    position: absolute;
    border:1px solid blue;
} */
