.btn-white {
    background-color: $color-white;
    color: gray;
}

.btn-green {
    background-color: $color-primary-light;
    color: $color-white;
}

.header__textbox--button{
    &,
    &:link,
    &:visited{
        content: '';
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-size: $default-font-size;
        font-weight: 600;
        padding: 15px 40px;
        border-radius: 100px;
        text-transform: uppercase;
        display: inline-block;
        animation: fadeInBottom 1s ease-out;

        //Change for the HTML <BUTTON> arrribute
        border: none;
        cursor: pointer;

    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.3);
    }
    &:active{
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.3);

    }

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-white;
        border-radius:100px;
        z-index: -1;
        transition: all .5s ease-out;
    }

    &:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

.btn-text{
    &:link,
    &:visited{
     font-size: $default-font-size;
     color: $color-medium-green;
     text-decoration: none;
     display: inline-block;
     border-bottom: 1px solid $color-medium-green;
     padding: 3px;
     transition: all .3s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        text-shadow: 0 1rem 3rem rgba($color-black, 0.25);
        transform: translateY(-3px);
    }

    &:active{
        text-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}