.feature-box{
    background-color: rgba($color-white,.8);
    font-size: 1.1rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.8);
    text-align: center;
    transition: all .3s;

    &__icon{
        font-size: 5rem;
        color:transparent;
        background-image: linear-gradient(to right, $color-light-green ,$color-dark-green);
        display: inline-block;
        -webkit-background-clip: text;
           -moz-background-clip: text;
            -ms-background-clip: text;
                background-clip: text;

    }

    &__text{
        color: rgba($color-black,.6);
        padding: 2rem 0;
    }

    &:hover{
        transform: translateY(-1.4rem) scale(1.1);
    }
}