*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1 rem = 10px :: 10px/16px = 62.5% (decided to use 52.5%)
    @include respond(phone){
        font-size: 41.5%;
    }
    @include respond(tab-pr){
        font-size: 38.5%;
    }
    @include respond(tab-ld){
        font-size: 38.5%;
    }
    @include respond(big-desktop){
        font-size: 38.5%;
    }
}

body{
    padding: 20px;
}
